body{
    background: url(../CSS/images/photo.jpg);

}
.container{
 color: white;
 font-variant: normal;
 text-align: center;
 justify-content: center;
 text-decoration: dotted;
 margin: 150px;
 font-family: 'Poppins', sans-serif;
font-size: 40px;
}
p{
    color: white;
    background-color: black;
    text-align: center;
    margin: 10px;
    font-family: 'poppins',sans-serif;
    width: 500px;
    margin-left: 500px;
}
@media screen and (max-width : 700px){ 
    .container{
 width: 600px;
    
}
}