@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}
body{
    border: 3px solid lightslategray;
}


h1{
     font-family: Arial, Helvetica, sans-serif;
     margin: 20px;
     text-decoration: underline;
     
}
p{
    font-style: italic;
    margin: 20px;
}
img{
    height: 100px;
    width: 300px;
    margin: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-decoration: underline;
}
h3{ font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-decoration: underline;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px; 
    text-decoration: underline;
}
li{
    margin: 4px;
}